.button {
    background: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
    background: -o-linear-gradient(to left, #b721ff, #21d4fd);
    background: -moz-linear-gradient(to left, #b721ff, #21d4fd);
    background: linear-gradient(to left, #b721ff, #21d4fd);

    margin: 10px auto;

    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;

    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

.button:hover {
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}